	<form class="tr-block" id="tr-search" method="get" action="JavaScript:handleSearch()">
    <h2>General Search</h2>
    Search: <input type="text" name="query" id="tr-search-query" />
    <input type="submit" value="Submit" />
	</form>
  <br/>

  <form class="tr-block" id="tr-timeline" method="get" action="JavaScript:handleTimeline()">
    <h2>Timeline Search</h2>
    User: <input type="text" name="query" id="tr-timeline-query" />
    <input type="submit" value="Submit" />
  </form>
  <br/>
