<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="/media/tr.css" />
	<title>Tweet Roulette</title>
  <link rel="icon" type="image/png" href="/favicon.png"/>
  <script type="text/javascript">
    function handleSearch(event)
    {
      var queryField = document.getElementById('tr-search-query');
      query = encodeURIComponent(queryField.value);
      document.location = "/search/" + query;
    }

    function handleTimeline(event)
    {
      var queryField = document.getElementById('tr-timeline-query');
      query = encodeURIComponent(queryField.value);
      document.location = "/user/" + query;
    }

    function handleRandom(event)
    {
      document.location = "/random"
    }

  </script>
</head>

<body>
<div class="main">
  <a href="/">
    <img src="/media/tweet-roulette.png" />
  </a>
  <div class="tr-block" id="tr-random">
    <h2><a href="/random">Play Roulette!</a></h2>
  </div>
  <br/>

  <%= yield %>

</div>

<div class="footer">
Copyright 2013 Charles A. Beynon <br/>
Tweet Roulette used the public API of Twitter to retrieve and display links.
We are not responsible for the content of this links; please exercise caution
as some links may contain malicious content, or content that is inappropriate
for children and certain workplaces.<br/>

My Sites: 
<a target="_blank" href="http://www.github.com/etothepiipower">Github</a> •
<a href="http://www.linkedin.com/in/cbeynon">LinkedIn</a>
</div>
</body>
</html>
