<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="/media/tr.css" />
	<title>Tweet Roulette</title>
  <link rel="icon" type="image/png" href="/favicon.png"/>
  <script type="text/javascript">
    function handleSearch(event)
    {
      var queryField = document.getElementById('tr-search-query');
      query = encodeURIComponent(queryField.value);
      document.location = "/search/" + query;
    }

    function handleTimeline(event)
    {
      var queryField = document.getElementById('tr-timeline-query');
      query = encodeURIComponent(queryField.value);
      document.location = "/user/" + query;
    }

    function handleRandom(event)
    {
      document.location = "/random"
    }

  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '<%= ENV["GOOGLE_ANALYTICS_ID"] %>', '<%= ENV["GOOGLE_ANALYTICS_DOMAIN"] %>');
    ga('send', 'pageview');

  </script>
</head>

<body>
<div class="main">
  <a href="/">
    <img src="/media/tweet-roulette.png" />
  </a>
  <div class="tr-block" id="tr-random">
    <h2><a href="/random">Play Roulette!</a></h2>
  </div>
  <br/>

  <%= yield %>

</div>

<div class="footer">
<p>Copyright 2013 Charles A. Beynon </p>
<p>Tweet Roulette uses the Twitter public API to retrieve and display publicly
posted links. Tweet Roulette, its creator, and Twitter are not responsible for 
the content of these links. Please exercise caution as some links may contain 
malicious content, or content that is inappropriate for children or the workplace.</p>

<p>
My Sites: 
<a target="_blank" href="http://www.github.com/etothepiipower">Github</a> •
<a href="http://www.linkedin.com/in/cbeynon">LinkedIn</a>
</p>
</div>
</body>
</html>
